.pagination {
    display: flex;
    flex-flow: row nowrap;

    &__number {
        color: $white;
    }

    &__stage {
        width: 33%;
        height: 2px;
        position: relative;
        &--checked {
            background-color: $sky-blue;
        }
        &--inactive {
            background-color: $border-grey;
        }

        &--current {
            background-color: $border-grey;
        }

        &:last-child {
            width: 0px;
        }

        &:first-child {
            margin-left: 20px;
            @media screen and (max-width: 480px) {
                margin-left: -5px;
            }
        }
        @media screen and (max-width: 720px) { 
            height: 1px;
        }

    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        display: block;
        line-height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $border-grey;
        position: absolute;
        left: 0;
        top: -13px;

        &:hover {
            background-color: lighten( $border-grey, 10%);
            .pagination__text {
                color: lighten( $border-grey, 10%);                
            }
        }

        &--position-last {
            left: -15px;
        }

        &--checked {
            background-color: $sky-blue;
            font-size: 0;

            &:hover {
                background-color: lighten( $sky-blue, 10%);
                .pagination__text--checked {
                    color: lighten( $sky-blue, 10%);                
                }
            }

            &:after {
                font-family: 'FontAwesome';
                font-size: 20px;
                content: '\f00c';
                position: absolute;
                color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--inactive {
            background-color: $border-grey;
            pointer-events: none;
            cursor: default;

            &:hover {
                background-color: lighten(  $border-grey, 10%);
                .pagination__text--inactive {
                    color: lighten( $border-grey, 10%);                
                }
            }

        }

        &--current {
            background-color: $purple;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid $white;
                transform: translate(-50%, -50%);
            }
                
            &:hover {
                background-color: lighten(  $purple, 10%);
                .pagination__text--current {
                    color: lighten( $purple, 10%);                
                }
            }
        }


    }

    &__text {
        font-size: 14px;
        font-weight: bold;
        color: $grey;
        position: absolute;
        top: 30px;
        right: 50%;
        transform: translate(50%, 0);
        margin-bottom: 10px;

        &--current {
            color: $purple;
        }

        &--checked {
            text-decoration: underline;
            color: $sky-blue;
        }

        &--width {
            width: 135px;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }
}