$main-ff: 'Open Sans', 'sans-serif';
$main-fs: 14px;


$background: #f2f8fa;
$grey: #949899;
$header-grey: #566266;
$border-grey:#d0d0d0;
$sky-blue: #00adef;
$white: white;
$purple: #562873;
$purple-light: #f9f7fb;
$black: #000000;
$red: #ef383f;
$green: #3fa800;