<header class="page-header">
    <div class="page-header__logo">
        <a href="#" class="page-header__logo-link">
            <img src="img/logo.png" alt="Money Super Market" class="page-header__logo-img">
        </a>
    </div>
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li class="header-nav__item">
                <button type="button" name="button-sign-in" class="header-nav__button header-nav__button--sign-in">Sign in</button>
            </li><!--
            --><li class="header-nav__item">
                <button type="button" name="button-retrieve" class="header-nav__button">Retrieve quotes</button>
            </li>
        </ul>
    </nav>
</header>
