* {
  font-family: "Open Sans", "sans-serif";
}

.form-wrapper {
  display: flex;
  background-color: #f2f8fa;
}

.filter {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.checkbox__input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: #00adef;
}

.checkbox__input--button {
  position: absolute;
  opacity: 0;
}

.checkbox__input--button:not(checked) + .checkbox__label--button {
  position: relative;
}

.checkbox__input--button:not(checked) + .checkbox__label--button:before {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  background: white;
  border: 1px solid #949899;
  width: 20px;
  height: 20px;
  content: '';
}

.checkbox__input--button:not(checked) + .checkbox__label--button:after {
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  left: 8px;
  opacity: 0;
  font-size: 30px;
  color: white;
  content: '\031A';
  transform: rotate(140deg);
}

.checkbox__input--button:checked + .checkbox__label--button {
  background: #00adef;
  color: white;
}

.checkbox__input--button:checked + .checkbox__label--button:after {
  opacity: 1;
}

.checkbox__input--button:checked + .checkbox__label--button:before {
  border: 2px solid white;
  background: #00adef;
}

.checkbox__label {
  color: #566266;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  height: 100%;
}

.checkbox__label--button {
  padding: 10px 15px 10px 45px;
  width: 100%;
  height: 100%;
  color: #949899;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  box-shadow: 0 2px 1px 0 #949899;
  border-radius: 5px;
}

.radio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
}

.radio__radiobtn {
  position: absolute;
  opacity: 0;
}

.radio__radibtn:not(checked) + .radio__label {
  position: relative;
}

.radio__radiobtn:not(checked) + .radio__label:before {
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px 0;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: white;
  width: 20px;
  height: 20px;
  content: '';
}

.radio__radiobtn:not(checked) + .radio__label:after {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  border: 3px solid #00adef;
  border-radius: 50%;
  background: white;
  width: 14px;
  height: 14px;
  opacity: 0;
  content: '';
}

.radio__radiobtn:checked + .radio__label {
  background: #00adef;
  color: white;
}

.radio__radiobtn:checked + .radio__label:after {
  opacity: 1;
}

.radio__label {
  color: #949899;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  border: 0;
  box-shadow: 0 2px 1px 0 #949899;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  padding-left: 45px;
}

.password {
  width: 100%;
}

.password__input {
  color: #949899;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  border: 0;
  box-shadow: inset 0 1px 1px 0 #949899;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: white;
  width: 100%;
}

.section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 980px;
  margin: 0 10px 20px 10px;
  align-items: center;
}

.section__intro-heading {
  color: #566266;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-right: 10px;
}

.section__heading {
  width: 100%;
  padding-bottom: 20px;
  font-size: 18px;
  color: #562873;
  line-height: 24px;
}

.section__heading--no-padding {
  width: auto;
  margin: 0 10px 0 0;
  padding: 0;
}

.section__text {
  width: 144px;
  position: relative;
}

.section__text:before {
  color: #566266;
  font-size: 20px;
  line-height: 28px;
  content: '\00A3';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.section__area {
  margin-bottom: 20px;
  margin-right: 30px;
}

.section__area--margin {
  margin-bottom: 0;
  margin-right: 30px;
}

@media screen and (max-width: 720px) {
  .section__area {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .section__area {
    width: 100%;
  }
}

.section__wraper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin: 30px 0px 10px 0px;
}

.section__area-title {
  padding-bottom: 10px;
  color: #2B3133;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.section__checkbox {
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  background-color: white;
}

.section__checkbox--layout {
  width: auto;
  vertical-align: middle;
  background-color: transparent;
}

@media screen and (max-width: 720px) {
  .section__checkbox {
    width: 49%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .section__checkbox {
    width: 100%;
  }
}

.section__radio {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  width: 95px;
}

@media screen and (max-width: 720px) {
  .section__radio {
    width: 49%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .section__radio {
    width: 100%;
  }
}

.section__radio:nth-child(1) {
  margin-right: 10px;
}

.section__checkbox:nth-child(1) {
  margin-right: 10px;
}

.section__dropdown {
  display: flex;
  align-items: center;
  width: 200px;
}

.section__dropdown--display-inline {
  display: inline-block;
  margin-right: 30px;
}

@media screen and (max-width: 720px) {
  .section__dropdown {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .section__dropdown {
    width: 100%;
  }
}

.section__password {
  display: flex;
  align-items: center;
  width: 200px;
}

@media screen and (max-width: 720px) {
  .section__password {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .section__password {
    width: 100%;
  }
}

.section--row-flow {
  flex-flow: row nowrap;
}

@media screen and (max-width: 720px) {
  .section {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .section {
    width: auto;
  }
}

.text-input__input {
  color: #566266;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 15px;
  width: 100%;
  padding-left: 26px;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px 0 #949899;
}

.submit__input {
  display: none;
  border: 0;
  box-shadow: 0 1px 1px 0 #949899;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: white;
  width: 100%;
}

.messages {
  position: relative;
}

.messages__item {
  position: relative;
}

.messages__item:after {
  position: absolute;
  top: 23px;
  left: -145px;
  width: 200px;
  color: #B35555;
  font-family: "Open Sans", "sans-serif";
  content: '';
}

.messages__item--min-length::after {
  content: 'Min length error!';
}

.messages__item--max-length::after {
  content: 'Max length error!';
}

.messages__item--pattern::after {
  content: 'Unacceptable symbols!';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Open Sans", "sans-serif";
  background-color: #f2f8fa;
}

.money-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}

.money-header__logo {
  max-width: 90px;
}

.money-header__menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.money-header__menu-item {
  color: #562873;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.money-header__menu-item--user::after {
  font-family: 'FontAwesome';
  content: "\f007";
  font-size: 32px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

.money-header__menu-item:first-child {
  border-right: 1px solid #562873;
  position: relative;
  padding-right: 52px;
}

.breadcrumbs-wraper {
  padding: 15px;
}

.breadcrumbs {
  font-size: 0;
}

.breadcrumbs__item {
  color: #00adef;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumbs__item--current {
  color: #000000;
}

.breadcrumbs__item:not(:last-child):after {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 10px;
}

.search {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.search__section {
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-bottom: 25px;
}

.search__section--border-bot {
  border-bottom: 1px solid #d0d0d0;
}

.search__section--padding-top {
  padding-top: 25px;
}

.search__section--nowrap {
  flex-wrap: nowrap;
}

.search__dropdown {
  margin: 10px;
  width: 100%;
}

.search__dropdown--big {
  max-width: 350px;
}

@media screen and (max-width: 480px) {
  .search__dropdown--big {
    max-width: 100%;
  }
}

.search__dropdown--small {
  max-width: 200px;
}

@media screen and (max-width: 480px) {
  .search__dropdown--small {
    max-width: 100%;
  }
}

.search__link {
  text-decoration: none;
  color: #00adef;
}

.search__heading {
  color: #566266;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .search__heading {
    margin: 0 10px;
  }
}

.search__results-heading {
  font-size: 18px;
  color: #562873;
  line-height: 24px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .search__results-heading {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .search__back-text {
    margin: 0 10px;
  }
}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown__select {
  font-family: "Open Sans", "sans-serif";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #949899;
  width: 100%;
  padding: 10px 50px 10px 20px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 1px 0 #949899;
  background-color: white;
  -webkit-appearance: button;
}

.dropdown__select--big {
  color: #566266;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-right: 10px;
}

.dropdown::after, .dropdown::before {
  font-family: 'FontAwesome';
  position: absolute;
  pointer-events: none;
  content: '';
}

.dropdown:after {
  border-radius: 0 5px 5px 0;
  width: 50px;
  top: 0;
  bottom: 0;
  right: 0;
}

.dropdown:before {
  font-weight: bold;
  line-height: 20px;
  content: '\f078';
  color: #00adef;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__pagination {
  max-width: 980px;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .main__pagination {
    padding: 10px 20px;
    margin-bottom: 30px;
  }
}

.main__card-wraper {
  max-width: 980px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
}

.card__specs {
  display: flex;
  flex-flow: row wrap;
}

.card__name {
  font-size: 16px;
  font-weight: bold;
}

.card__offer {
  font-size: 18px;
  font-weight: bold;
  line-height: 15px;
  margin-bottom: 5px;
}

.card__note, .card__type, .card__taxes {
  font-size: 10px;
  margin-bottom: 5px;
  line-height: 10px;
}

.card__offer {
  color: #000000;
}

.card__offer--fc-purple {
  color: #562873;
}

.card__note--fw-normal {
  font-weight: normal;
}

.card__logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 20px 0 20px 30px;
}

.card__description {
  display: flex;
  flex-flow: column nowrap;
}

.card__logo-img {
  max-width: 120px;
  margin-right: 30px;
  border-radius: 5px;
}

.card__section {
  display: flex;
  flex-flow: row wrap;
  max-width: 980px;
  justify-content: space-between;
}

.card__section--footer {
  background-color: #f9f7fb;
}

.card__section--align-center {
  align-items: center;
}

.card__section--border-bot {
  border-bottom: 1px solid #d0d0d0;
}

.card__section--justify-left {
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .card__section--justify-left {
    flex-flow: column wrap;
    width: 100%;
    padding: 0 30px;
  }
}

.card__section--nowrap {
  flex-wrap: nowrap;
}

.card__aproval-chance {
  border: 2px solid #00adef;
  max-width: 140px;
  background-color: white;
  border-radius: 5px;
  color: #00adef;
  padding: 3px 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.card__button {
  width: 145px;
}

.card__button--margin-right {
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .card__button--mobile-display {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0px 30px;
  }
}

@media screen and (min-width: 480px) {
  .card__button--mobile-display {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .card__button--mobile-none {
    display: none;
  }
}

.card__details {
  display: flex;
  flex-flow: column wrap;
  max-width: 190px;
  padding: 20px 15px 20px 15px;
  color: #949899;
}

@media screen and (min-width: 480px) {
  .card__details {
    max-width: 90px;
  }
}

@media screen and (min-width: 720px) {
  .card__details {
    max-width: 190px;
  }
}

@media screen and (max-width: 480px) {
  .card__details {
    max-width: 100%;
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  .card__details--media {
    max-width: 150px;
  }
}

@media screen and (min-width: 720px) {
  .card__details--media {
    max-width: 190px;
  }
}

@media screen and (max-width: 480px) {
  .card__details--media {
    width: 100%;
    padding: 20px 20px 0 20px;
    align-items: center;
    border-top: 1px solid #d0d0d0;
  }
}

.card__details--first {
  padding-left: 30px;
  background-color: #f9f7fb;
  color: #562873;
  max-width: 128px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .card__details--first {
    max-width: 50%;
    padding-left: 20px;
  }
}

.card__details:last-child {
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .card__details:last-child {
    margin: 0;
  }
}

.card__link {
  display: flex;
  justify-content: center;
  padding: 20px 30px 20px 15px;
}

.card__link--padding-right {
  padding-right: 45px;
}

@media screen and (max-width: 480px) {
  .card__link {
    max-width: 100%;
    width: 100%;
    padding: 15px 20px;
  }
}

.card__list {
  width: 40%;
  margin: 0;
  padding: 20px 0 20px 30px;
  border-top: 1px solid #d0d0d0;
}

.card__list-heading {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
  .card__list {
    max-width: 100%;
    width: 100%;
    padding: 15px 0px 0px 0px;
  }
  .card__list:last-child {
    border: none;
  }
}

.card__list-item {
  list-style: none;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 15px;
  position: relative;
  color: #949899;
}

.card__list-item:before {
  margin-right: 10px;
}

.card__list-item--advantage:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  color: #3fa800;
  position: absolute;
  left: 0px;
  top: 5px;
}

.card__list-item--disadvantage:before {
  font-family: 'FontAwesome';
  content: '\f068';
  color: #ef383f;
  position: absolute;
  left: 0px;
  top: 5px;
}

.card__example {
  padding: 20px 30px 20px 30px;
  font-size: 18px;
  font-weight: bold;
}

.button {
  width: 100%;
  border-radius: 27px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background: #3fa800;
  box-shadow: 0px 2px 1px 0px grey;
  color: white;
  font-family: "Open Sans";
}

.link {
  position: relative;
  color: #00adef;
  font-size: 1em;
  font-family: "Open Sans", "sans-serif";
  line-height: 1.4em;
  text-decoration: none;
  font-weight: bold;
  display: flex;
}

.link:after {
  font-family: 'FontAwesome';
  content: '\f054';
  font-size: 0.6em;
  line-height: 1.4em;
  font-weight: bold;
  position: absolute;
  right: -15px;
  top: 5px;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
}

.pagination__number {
  color: white;
}

.pagination__stage {
  width: 33%;
  height: 2px;
  position: relative;
}

.pagination__stage--checked {
  background-color: #00adef;
}

.pagination__stage--inactive {
  background-color: #d0d0d0;
}

.pagination__stage--current {
  background-color: #d0d0d0;
}

.pagination__stage:last-child {
  width: 0px;
}

.pagination__stage:first-child {
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .pagination__stage:first-child {
    margin-left: -5px;
  }
}

@media screen and (max-width: 720px) {
  .pagination__stage {
    height: 1px;
  }
}

.pagination__link {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #d0d0d0;
  position: absolute;
  left: 0;
  top: -13px;
}

.pagination__link:hover {
  background-color: #eaeaea;
}

.pagination__link:hover .pagination__text {
  color: #eaeaea;
}

.pagination__link--position-last {
  left: -15px;
}

.pagination__link--checked {
  background-color: #00adef;
  font-size: 0;
}

.pagination__link--checked:hover {
  background-color: #23c2ff;
}

.pagination__link--checked:hover .pagination__text--checked {
  color: #23c2ff;
}

.pagination__link--checked:after {
  font-family: 'FontAwesome';
  font-size: 20px;
  content: '\f00c';
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination__link--inactive {
  background-color: #d0d0d0;
  pointer-events: none;
  cursor: default;
}

.pagination__link--inactive:hover {
  background-color: #eaeaea;
}

.pagination__link--inactive:hover .pagination__text--inactive {
  color: #eaeaea;
}

.pagination__link--current {
  background-color: #562873;
}

.pagination__link--current:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}

.pagination__link--current:hover {
  background-color: #723599;
}

.pagination__link--current:hover .pagination__text--current {
  color: #723599;
}

.pagination__text {
  font-size: 14px;
  font-weight: bold;
  color: #949899;
  position: absolute;
  top: 30px;
  right: 50%;
  transform: translate(50%, 0);
  margin-bottom: 10px;
}

.pagination__text--current {
  color: #562873;
}

.pagination__text--checked {
  text-decoration: underline;
  color: #00adef;
}

.pagination__text--width {
  width: 135px;
}

@media screen and (max-width: 480px) {
  .pagination__text {
    display: none;
  }
}
 

 /*# sourceMappingURL= main.css.map */