$screen-sm: 480px;
$screen-md: 720px;
$black: #000;
$white: #fff;
$blue: #00AEEF;
$grey: #d0d0d0;
$grey-darker: #566266;
$grey-darkest: #2B3133;
$green: #3ea800;
$ice: #f2f8fa;
$purple: #562873;
$purple-light: #f9f7fb;
$red: #ef383f;

* {
  box-sizing: border-box;
}

.bestbuy-body {
  background-color: $ice;
  font-family: 'Open Sans', sans-serif;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: $grey solid 1px;

  &__logo {
    max-height: 60px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    max-height: 60px;
    font-size: 16px;
    padding: 5px 15px;
    color: $purple;
    font-weight: bold;
    text-decoration: none;

    &:not(:first-child) {
      border-left: $purple 1px solid;
    }
  }
}

.breadcrumbs {
  display: flex;
  margin: 20px;

  &__crumb {
    color: $blue;
    text-decoration: none;

    &:not(:last-child)::after {
      content: ' >';
    }

    &:not(:first-child) {
      margin-left: 5px;
    }

    &--active {
      color: $black;
    }
  }
}

.search {
  &__section {
    margin: auto;
    max-width: 980px;
    padding: 10px 0;
    color: $grey-darker;
    @media screen and (max-width: 1010px) {
      margin: 0;
      padding: 10px;
    }

    &--underlined {
      border-bottom: $grey solid 1px;
    }
  }

  &__caption {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $purple;
    font-size: 18px;
    font-weight: bold;
  }

  &__intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $grey-darkest;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }

  &__note {
    font-size: 14px;
  }
}

.input-box {
  position: relative;
  margin: 10px;
  height: 40px;
  display: inline-block;
  @media screen and (max-width: $screen-md) {
    width: 100%;
    margin: 10px 0;
  }

  &__input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 $grey;
    color: $grey;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;

    &--dropdown {
      width: 100%;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding: 10px 40px 10px 20px;
      color: $grey-darker;
    }

    &--small {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &--dropdown {
    &::after {
      content: "\f078";
      font-family: FontAwesome;
      color: $blue;
      position: absolute;
      top: 13px;
      right: 15px;
      font-size: 12px;
    }
  }
}

.card {
  max-width: 980px;
  margin: auto;
  background-color: $white;
  border-bottom: $grey 2px solid;

  &__section {
    display: flex;




    @media screen and (max-width: $screen-md) {
      flex-direction: column;
      align-items: stretch;
    }
    &--header {
      align-items: center;
      border-bottom: $grey 1px solid;
    }
    &--between {
      justify-content: space-between;
      padding-right: 30px;
      @media screen and (max-width: $screen-sm) {
        padding-right: 0;
      }
      @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__details {
    display: flex;
    @media screen and (max-width: $screen-sm) {
      flex-wrap: wrap;
      width: 100%;
    }

  }

  &__detail {
    padding: 15px 0 15px 30px;
    font-size: 10px;
    color: $grey-darker;


    &--purple {
      background-color: $purple-light;
      color: $purple;
      width: 123px;
    }
    @media screen and (max-width: $screen-md) {
      max-width: 120px;
    }
    @media screen and (max-width: $screen-sm) {
      width: 50%;
      max-width: 100%;
    }
    &--fullwidth-mobile{
      @media screen and (max-width: $screen-sm) {
        width: 100%;
        text-align: center;
        padding-left: 0;
      }
    }
    &--upperlined{
      @media screen and (max-width: $screen-sm) {
        border-top: $grey 1px solid;
      }
    }
  }

  &__detail-title {
    &--purple {
      font-weight: bold;
      color: $purple;
    }
  }

  &__detail-content {
    margin-top: 6px;
    line-height: 18px;

    &--center {
      text-align: center;
    }
  }

  &__strong {
    display: block;
    font-size: 14px;
    color: $black;

    &--purple {
      color: $purple;
    }

    &--small {
      font-size: 12px;
    }
  }

  &__chance {
    border: $blue 2px solid;
    border-radius: 5px;
    padding: 2px 6px;
    text-align: center;
    font-weight: bold;
    color: $blue;
    font-size: 14px;
    line-height: 16px;
    max-width: 120px;
    margin: 0 auto 10px auto;
  }
}

.brand {
  display: flex;
  align-items: center;

  &__logo {
    max-height: 60px;
    margin: 15px 30px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    color: $grey-darker;
    font-size: 12px;
    align-content: center;
  }

  &__name {
    font-weight: bold;
    font-size: 14px;
    color: $black;
  }
}

.go-button {
  background-color: $green;
  height: 45px;
  width: 140px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  &--desktop{
    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }
  &--mobile{
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $blue;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  font-size: 14px;
  padding-right: 12px;

  &::after {
    content: '>';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
  }
}

.totals {
  display: inline-block;
  max-width: 320px;
  margin: 0;
  border-top: $grey 1px solid;
  list-style-type: none;
  padding: 15px 0 15px 30px;
  @media screen and (max-width: $screen-md) {
    max-width: none;
    padding-right: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
  }

  &__item {
    color: $grey-darker;
    font-size: 12px;
    padding-left: 15px;
    position: relative;
    margin-top: 10px;
    line-height: 16px;

    &--pro::before {
      content: "\f00c";
      color: $green;
      font-family: FontAwesome;
      position: absolute;
      left: 0;
    }

    &--con::before {
      content: "\f068";
      color: $red;
      font-family: FontAwesome;
      position: absolute;
      left: 0;
    }
  }
}

.common-link {
  text-decoration: none;
  color: $grey-darker;

  &--blue {
    color: $blue;
    font-weight: bold;
  }

  &:hover {
    color: $blue;
  }
}

.addition {
  background-color: $purple-light;
  font-weight: bold;
  padding: 20px 0 20px 30px;
  @media screen and (max-width: 1010px) {
    padding-right: 30px;
  }
}

.next-button {
  text-align: center;
  display: block;
  margin: 30px auto;
  border: $blue 2px solid;
  background-color: $white;
  border-radius: 25px;
  padding: 5px 25px;
  font-weight: bold;
  color: $blue;
  cursor: pointer;
}

.pagination{
  padding: 0 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  max-width: 950px;
  @media screen and (max-width: $screen-sm){
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 30px;
  }
  &__line {
    display: block;
    background-color: $grey;
    margin-bottom: 75px;
    height: 2px;
    width: 33.33%;
    min-width: 220px;
    position: relative;
    @media screen and (max-width: 880px){
      min-width: auto;
    }

    &--completed{
      background-color: $blue;
    }
  }
  &__circle{
    text-align: center;
    color: $white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -15px;
    left: -15px;
    background-color: $grey;

    &--completed{
      background-color: $blue;

      &:before{
        content: "\f00c";
        display: block;
        width: 30px;
        height: 30px;
        background-color: $blue;
        border-radius: 50%;
        position: absolute;
        font-family: FontAwesome;
      }
    }
    &--active{
      background-color: $purple;
      &:before{
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        top: 2px;
        left: 2px;
        position: absolute;
        border-radius: 50%;
        border: $white 2px solid;
      }
    }
    &--last{
      left: auto;
      right: -15px;
    }
  }
  &__title{
    width: 160px;
    left: -80px;
    top:20px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $grey;
    @media screen and (max-width: 880px){
      width: 100px;
      font-size: 18px;
      left: -50px;
    }
    @media screen and (max-width: $screen-sm){
      display: none;
    }

    &--completed{
      color: $blue;
      text-decoration: underline;
    }
    &--active{
      color:$purple;
    }
    &--last{
      left:auto;
      right: -80px;
      @media screen and (max-width: 880px){
        right: -50px;
      }
    }
  }
}
