<header class="page-header">
    <div class="page-header__logo">
        <a href="#" class="page-header__logo-link">
            <img src="app/img/logo.png" alt="Money Super Market" class="page-header__logo-img">
        </a>
    </div>
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li class="header-nav__item">
                <button type="button" name="button-sign-in" class="header-nav__button header-nav__button--sign-in">Sign in</button>
            </li><!--
            --><li class="header-nav__item">
                <button type="button" name="button-retrieve" class="header-nav__button">Retrieve quotes</button>
            </li>
        </ul>
    </nav>
</header>
<section class="bread-crumb">
    <ul class="bread-crumb__list">
        <li class="bread-crumb__item">
            <a href="#" class="bread-crumb__link bread-crumb__link--visited">Credit Cards</a>
        </li><!--
        --><li class="bread-crumb__item">
            <a href="#" class="bread-crumb__link bread-crumb__link--current">Results</a>
        </li>
    </ul>
</section>
<div class="wrap">
    <div class="pagination-list">
        <div class="pagination-list__item">
            <a href="#" class="pagination-link pagination-link--available">
                <span class="pagination-link__badge" data-stage="1"></span>
                <span class="pagination-link__caption">Your energy usage</span>
            </a>
        </div>
        <div class="pagination-list__item">
            <a href="#" class="pagination-link pagination-link--current">
                <span class="pagination-link__badge" data-stage="2"></span>
                <span class="pagination-link__caption">Result</span>
            </a>
        </div>
        <div class="pagination-list__item">
            <a href="#" class="pagination-link pagination-link--disable">
                <span class="pagination-link__badge" data-stage="3"></span>
                <span class="pagination-link__caption">Switch</span>
            </a>
        </div>
        <div class="pagination-list__item">
            <a href="#" class="pagination-link pagination-link--disable">
                <span class="pagination-link__badge" data-stage="4"></span>
                <span class="pagination-link__caption">Thanks</span>
            </a>
        </div>
    </div>
    <form-filter></form-filter>
    <card></card>
    <div class="pagination">
        <button class="button button--deepskyblue">See the next 20 cards</button>
    </div>
</div>
