<input type="password"
        name="passwordField"
        class="form-unit__input input placeholder"
        data-ng-model="value"
        data-ng-blur="$ctrl.setPasswordFieldStatus({error: $parent.formFilter.passwordField.$error, isValid: $parent.formFilter.passwordField.$valid})"
        data-min-length = "6"
        data-max-length = "14"
        placeholder="&#183;&#183;&#183;&#183;&#183;&#183;"
        required>
<ul class="error-msgs" ng-messages="$parent.formFilter.passwordField.$error" ng-show="$parent.formFilter.passwordField.$dirty">
    <li ng-message="minLength" class="error-msgs__item">Your password's length has to be more or equal to 6</li>
    <li ng-message="maxLength" class="error-msgs__item">Your password's length has to be less or equal to 14</li>
</ul>
