$white: #fff;
$black: #000;
$azure: #f2f8fa;
$gray-dark: #2b3133;
$gray: #566266;
$gray-light: #c6cacc;
$gray-lighter: #949899;
$green: #1c8429;
$deepskyblue: #00adf2;
$deepskyblue-dark: #0481b3;
$indigo: #562873;
$indigo-light: #5b426b;
$indigo-lighter: #f9f7fc;
$red: #c71b1b;
$juicy-grass: #49a418;
$juicy-grass-dark: #318c00;
$red: red;

$small-screen-width: 490px;
$medium-screen-width: 720px;
$large-screen-width: 980px;
