$filter__main-ff: 'Open Sans', 'sans-serif';

$intro-fc: #566266;
$intro-fs: 20px;
$intro-lh: 28px;

$filter__label-fc: #2B3133;
$filter__label-fs: 14px;

$grey-fc: #949899;
$input-area-fs: 14px;

$filter__section-title-fc: #562873;
$filter__section-title-fs: 18px;
$filter__section-title-lh: 24px;


$checkbox-color: #566266;
$background: rgb(242, 248, 250);
$border-grey: #949899;

$bgbutton: white;