$screen-sm: 480px;
$screen-md: 720px;
$blue: #00AEEF;
$grey: #949899;
$grey-darkest: #2B3133;
$grey-darker: #566266;
$ice: rgb(242, 248, 250);
$purple: #562873;

.input-box {
  position: relative;
  margin-top: 10px;
  height: 40px;
  display: inline-block;
  @media screen and (max-width: $screen-md) {
    &:nth-child(n+1) {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: $screen-sm) {
    width: 200px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: $screen-sm) {
    width: 100%;
  }

  &__label{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
     background-color: #fff;
     box-shadow: 0 1px 1px 0 $grey;
     color: $grey;
     font-size: 14px;
     font-family: 'Open Sans', sans-serif;
     font-weight: bold;
     line-height: 20px;
     display: inline-block;

     &--radio{
       display: block;
       padding: 10px 20px 10px 40px;
       &::before {
         content: '';
         display: block;
         box-sizing: border-box;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         background-color: #fff;
         border: $grey 2px solid;
         position: absolute;
         top: 10px;
         left: 10px;
       }
     }

     &--checkbox{
       adding: 10px 20px 10px 40px;
     }
  }

  &__input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
     background-color: #fff;
     box-shadow: 0 1px 1px 0 $grey;
     color: $grey;
     font-size: 14px;
     font-family: 'Open Sans', sans-serif;
     font-weight: bold;
     line-height: 20px;

    &--money {
      font-size: 20px;
      line-height: 28px;
      width: 100%;
      height: 100%;
      font-weight: normal;
      padding: 10px 15px 10px 30px;
      box-shadow: inset 0 1px 0 0 $grey;
      max-width: 144px;
      margin-left: 10px;
    }
    &--dropdown{
        width: 100%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 10px 40px 10px 20px;
        color: $blue;


    }
    &--radio{
      display: none;


      &:checked {
        & + label {
          background-color: $blue;
          color: #fff;
        }

        & + label::after {
          background-color: #fff;
        }

        & + label::before {
          background-color: $blue;
          border-color: #fff;
        }
      }

      &:not(:checked) {
        & + label {
          background-color: #fff;
        }

        & + label::before {
          background-color: #fff;
        }
      }
    }
    &--checkbox{
      display: none;

      &:checked {
        & + label {
          background-color: $blue;
          color: #fff;
        }

        & + label::before {
          content: "\f00c";
          font-family: FontAwesome;
          border-color: #fff;
          background-color: $blue;
          color: #fff;
        }
      }

      &:not(:checked) {
        & + label {
          background-color: #fff;
        }
      }
    }
  }

  &--money{
    margin-top: 0;

    &::before {
      display: block;
      position: absolute;
      content: '\00A3';
      font-weight: normal;
      margin: 10px 15px;
      color: $grey;
      font-size: 20px;
      line-height: 28px;
      font-family: 'Open Sans', sans-serif;
      height: 40px;
    }
  }
  &--dropdown{

    &::after {
      content: "\f078";
      font-family: FontAwesome;
      color: $blue;
      position: absolute;
      top: 13px;
      right: 15px;
      font-size: 14px;
    }
  }
  &--radio{
    @media screen and (min-width: $screen-sm) {
      width: 90px;
    }
  }
  &--dropdown-wide{
    &{
      @media screen and (min-width: $screen-sm){
        width: 266px;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

.header {
  border-bottom: $grey solid 1px;

  &__logo {
    max-height: 60px;
  }
}

.search {
  padding-top: 30px;
  background-color: $ice;

    &__section {
      margin: auto;
      max-width: 980px;
      padding: 0 10px 20px 10px;

      &--underlined {
        border-bottom: $grey solid 1px;
      }
    }
    &__intro {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
        color: $grey-darkest;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 28px;
        margin-right: 10px;
    }
    &__link {
      margin: 20px 0 0;
      display: block;
        color: $blue;
        font-size: 16px;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        line-height: 22px;
      }
}



.inputs {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $screen-md) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__item{
    margin: 20px 0 0;
    @media screen and (min-width: $screen-md) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &--checkbox-free {
      align-self: flex-end;
      @media screen and (max-width: $screen-md) {
        align-self: flex-start;
      }
      margin-bottom: 11px;
    }
  }

  &__title {
    color: $grey-darker;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 19px;
    margin: 0;
  }
}

.checkbox-free {
  &__input {
    display: none;

    &:checked {
      & + label::before {
        content: "\f00c";
        font-family: FontAwesome;
      }
    }
  }

  &__label {
    color: $grey-darker;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 20px 10px 40px;
    margin-bottom: 5px;
    position: relative;

    &::before {
      content: '';
      text-align: center;
      line-height: 19px;
      color: $grey-darker;
      font-size: 18px;
      display: block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: $grey 2px solid;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    &__moon{
    position: absolute;
    width: $screen-md;
    height: $screen-md;
    margin-top: -$screen-md/2;
    margin-left: -$screen-md/2;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background-color: $purple;

    @media screen and (max-width: $screen-md){
      width: $screen-sm;
      height: $screen-sm;
      margin-top: -$screen-sm/2;
      margin-left: -$screen-sm/2;
    }
    @media screen and (max-width: $screen-sm){
      width: $screen-sm/2;
      height: $screen-sm/2;
      margin-top: -$screen-sm/4;
      margin-left: -$screen-sm/4;
    }
  }
}
