<div class="header">
    <div class="header__logo">
        <a ng-href="{{$ctrl.logoLink}}">
            <img ng-src="{{$ctrl.logoImgLink}}" alt="Gibson Guitars">
        </a>
    </div>
    <div class="header__socials">
        <ul class="header__socials-list">
            <li class="header__socials-item">
                <a ng-href="https://facebook.com/Gibson">
                    <img ng-src="http://images.gibson.com/Site-Images/Page-Elements/Header-Facebook-Icon.png" alt="facebook">
                </a>
            </li>
            <li class="header__socials-item">
                <a ng-href="http://twitter.com/GibsonGuitar">
                    <img ng-src="http://images.gibson.com/Site-Images/Page-Elements/Header-Twitter-Icon.png" alt="facebook">
                </a>
            </li>
            <li class="header__socials-item">
                <a ng-href="http://instagram.com/gibsonguitar">
                    <img ng-src="http://images.gibson.com/Site-Images/Page-Elements/Header-Youtube-Icon.png" alt="facebook">
                </a>
            </li>
            <li class="header__socials-item">
                <a ng-href="http://youtube.com/Gibson">
                    <img ng-src="http://images.gibson.com/Site-Images/Page-Elements/Header-Instagram-Icon.png" alt="facebook">
                </a>
            </li>
        </ul>
    </div>
</div>