$filter__main-ff: 'Open Sans', 'sans-serif';

$input-area-fs: 14px;

$heading-fc: #562873;
$heading-fs: 18px;
$heading-lh: 24px;

$intro-heading-fs: 20px;
$intro-heading-lh: 28px;


$background: rgb(242, 248, 250);
$checkbox-color: #566266;
$grey: #949899;
$dark-grey: #566266;
$sky-blue: #00adef;
$white: white;

$break-small: 480px;
$break-medium: 720px;