$primary-background-color: #f2f8fa;
$intro-text-color: #566266;
$input-field-background-color: #fff;
$radio-background-color: #fff;
$white: #fff;
$input-field-shadow-color: #c6cacc;
$label-title-color: #2b3133;
$label-checkbox-text-color: #566266;
$select-text-color: #949899;
$select-arrow-radio-checkbox-bg-color: #00adf2;
$title-text-color: #562873;
$radio-shadow-checked: #0481b3;
$border-filter-result-color: #c6cacc;

$small-screen-width: 480px;
$medium-screen-width: 720px;
$large-screen-width: 980px;

.extend-one {
    color: $intro-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.4;
}
.extend-two {
    color: $select-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background-color: $primary-background-color;
}
ul {
    list-style-type: none;
}
h1 {
    display: none;
}
.wrap {
    display: flex;
    justify-content: center;
}
.form-filter {
    margin: 20px 0;
    &__section {
        margin: 10px;
    }
}
// .form-filter__section {
// }




// .form-filter-field {
//     background-color: $input-field-background-color;
//     border-radius: 5px;
// }
// .form-filter-input {
// }
.intro {
    @extend .extend-one;
    &__input {
        display: inline-block;
        position: relative;
        width: 144px;
        margin: 0 10px;
    }
}
.input-badge {
    background-color: $input-field-background-color;
    box-shadow: 0 2px $input-field-shadow-color inset;
    border-radius: 5px;
    &__money {
        padding: 6px 15px 6px 25px;
        &:before {
            content: "\00A3";
            position: absolute;
            top: 6px;
            left: 20px;
        }
    }
}
.input {
    @extend .extend-one;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0 10px
}
.filter-account {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    &__checkbox {
        margin-bottom: 10px;
    }
}
.select {
    margin-right: 30px;
    &__label {
        display: block;
        padding-bottom: 10px;
        color: $label-title-color;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
    }
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    &__element {
        @extend .extend-two;
        width: 100%;
        padding: 10px 25px 10px 20px;
        box-shadow: 0 2px $input-field-shadow-color;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &:after {
        content: "\221F";
        position: absolute;
        right: 20px;
        top: 9px;
        color: $select-arrow-radio-checkbox-bg-color;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        transform: rotate(-45deg);
        pointer-events: none;
    }
}
.checkbox {
    &__input {
        vertical-align: top;
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
        &:not(checked) {
            position: absolute;
            opacity: 0;

            & + label {
                position: relative;
                padding: 0 0 0 30px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: $white;
                    box-shadow: inset 0 1px 5px $input-field-shadow-color;
                }
                &:after {
                    content: '\031A';
                    position: absolute;
                    top: 5px;
                    left: -7px;
                    width: 20px;
                    height: 20px;
                    color: $select-arrow-radio-checkbox-bg-color;
                    font-size: 29px;
                    transform: rotate(145deg);
                }
            }
        }
        &:checked {
            & + label {
                &:before {
                    background: $white;
                }
                &:after {
                    content: '';
                }
            }
        }
        &:focus {
            & + label {
                &:before {
                    box-shadow: inset 0 1px 7px $input-field-shadow-color;
                }
            }
        }
    }
    &__label {
        color: $label-checkbox-text-color;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
        cursor: pointer;
    }
}
// .form-filter-select {
// }
// .form-filter-item {
//     display: flex;
//     margin-bottom: 20px;
// }
// .form-filter-results-by {
//     flex-flow: row wrap;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom: 30px;
//     border-bottom: 1px solid $border-filter-result-color;
//     .form-filter-title {
//         flex: 1 100%;
//     }
//     .form-filter-results-by-item {
//         flex-grow: 1;
//         margin-right: 30px;
//     }
// }
// .form-filter-title {
//     padding-bottom: 20px;
//     color: $title-text-color;
//     font-family: "Open Sans", sans-serif;
//     font-size: 18px;
//     font-weight: bold;
//     line-height: 1.3;
// }
// .form-filter-select {
// }
// .wrap-filter-by-choice {
//     li {
//         @extend .extend-two;
//         display: inline-block;
//         width: 45%;
//         margin-right: 5px;
//     }
// }
// .filter-by-choice {
//     vertical-align: top;
//     width: 15px;
//     height: 15px;
//     margin: 0 3px 0 0;
// }
// .filter-by-choice + label {
//     display: inline-block;
//     width: 100%;
//     padding: 11px 0 11px 55px;
//     background-color: $input-field-background-color;
//     border-radius: 5px;
//     box-shadow: 0 2px $input-field-shadow-color;
//     cursor: pointer;
// }
// .filter-by-choice:checked + label {
//     color: $input-field-background-color;
//     background-color: $select-arrow-radio-checkbox-bg-color;
//     box-shadow: 0 2px $radio-shadow-checked inset;
// }
// .filter-by-choice:not(checked) {
//     position: absolute;
//     opacity: 0;
// }
// .filter-by-choice:not(checked) + label {
//     position: relative;
// }
// .filter-by-choice:not(checked) + label:before {
//     content: '';
//     position: absolute;
//     top: 8px;
//     left: 20px;
//     width: 22px;
//     height: 22px;
//     box-shadow: inset 0 1px 1px $input-field-shadow-color;
//     border-radius: 50%;
//     background-color: $radio-background-color;
// }
// .filter-by-choice:checked + label:before {
//     background-color: $select-arrow-radio-checkbox-bg-color;
//     box-shadow: 0 0 2px 2px $radio-background-color;
// }
// .filter-by-choice:not(checked) + label:after {
//     content: '';
//     position: absolute;
//     top: 14px;
//     left: 26px;
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     background-color: $radio-background-color;
//     box-shadow: inset 0 1px 1px $radio-background-color;
//     opacity: 0;
//     transition: all .2s;
// }
// .filter-by-choice:checked + label:after {
//     opacity: 1;
//     background-color: $radio-background-color;
// }
// .filter-by-choice:focus + label:before {
//     background-color: $select-arrow-radio-checkbox-bg-color;
//     box-shadow: 0 0 0 2px $radio-background-color;
// }
// .form-filter-passwod {
//     padding-right: 25px;
// }
// .form-filter-order {
//     .form-filter-title {
//         flex-grow: 2;
//     }
//     .custom-select {
//         flex-grow: 2;
//     }
// }
.placeholder::-webkit-input-placeholder {
    color: $intro-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.placeholder::-moz-placeholder {
    color: $intro-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.placeholder:-moz-placeholder {
    color: $intro-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.placeholder:-ms-input-placeholder {
    color: $intro-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
// // @media screen and (max-width: $large-screen-width) and (min-width: $medium-screen-width)
//     // .wrap
//     //     min-width: 720px;
//
// @media screen and (max-width: $medium-screen-width) {
//     body {
//         padding: 0 10px;
//     }
//     .form-filter-item {
//         flex-direction: column;
//     }
//     .form-filter-select {
//         margin-bottom: 10px;
//     }
//     .form-filter-account {
//         align-items: stretch;
//     }
//     .form-filter-input-checkbox {
//         margin-left: 0;
//     }
//     .form-filter-results-by {
//         align-items: flex-start;
//         .form-filter-results-by-item {
//             width: 100%;
//             flex-grow: 0;
//             margin-right: 0;
//         }
//     }
//     .wrap-filter-by-choice {
//         margin-bottom: 10px;
//         li {
//             width: 49%;
//             margin-right: 0;
//         }
//     }
//     .form-filter-passwod {
//         margin: 0;
//         width: 100%;
//     }
//     .wrap-filter-results-by-checkbox {
//         margin-bottom: 10px;
//     }
// }
