
.form-filter {
    margin: 10px 0;
    @media screen and (max-width: $large-screen-width) {
        padding: 0 10px;
    }

    &__section-text {
        margin: 10px 0;
        font-size: 13px;
        color: $gray;
    }

    &__section-intro {
        margin: 10px 0;
        color: $gray;
        font-size: 20px;
        line-height: 1.4;
        @media screen and (max-width: $small-screen-width) {
            margin-bottom: 20px;
        }
    }

    &__section-account {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 20px 0 20px 0;

        .form-unit {
            @media screen and (max-width: $small-screen-width) {
                width: 100%;
            }
        }

        .custom-checkbox {
            margin-bottom: 10px;
            @media screen and (max-width: $small-screen-width) {
                margin-bottom: 0;
            }
        }
    }

    &__section-result {
        margin: 10px 0;
    }

    &__section-order {
        display: flex;
        margin: 25px 0;
        padding-top: 20px;
        border-top: 1px solid $gray-light;
        @media screen and (max-width: $small-screen-width) {
            flex-wrap: wrap;
        }

        .filter-title {
            margin-right: 10px;
            padding-top: 7px;
        }

        .custom-select {
            @media screen and (max-width: $small-screen-width) {
                margin-top: 15px;
            }
        }
    }
}

.form-unit {
    margin-right: 30px;
    @media screen and (max-width: $small-screen-width) {
        margin-right: 0;
    }
    @media screen and (max-width: $large-screen-width) and (min-width: $small-screen-width) {
        margin-right: 15px;
    }

    &__label {
        display: block;
        padding-bottom: 10px;
        color: $gray-dark;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
        @media screen and (max-width: $large-screen-width) and (min-width: $small-screen-width) {
            padding-top: 10px;
        }
    }

    &__radio {
        display: flex;
        @media screen and (max-width: $large-screen-width) {
            justify-content: space-between;
        }

        &--margin {
            margin-right: 5px;
        }

        &--width {
            width: 100%;
        }
    }

    &__checkbox {
        .custom-checkbox {
            margin-bottom: 10px;

            @media screen and (max-width: $medium-screen-width) {
                margin-top: 0;
            }

            &__label {
                @media screen and (max-width: $medium-screen-width) {
                    line-height: 1.4;
                }
            }
            &__input {
                &:not(checked) {
                    & + .custom-checkbox {
                        &__label {
                            display: inline-block;
                            width: 100%;
                            padding: 11px 30px 11px 50px;
                            background-color: $white;
                            box-shadow: 0 2px $gray-light;
                            border-radius: 5px;

                            &:before {
                                top: 9px;
                                left: 15px;
                                background: $white;
                            }

                            &:after {
                                top: 16px;
                                left: 9px;
                                color: $deepskyblue;
                            }
                        }
                    }
                }

                &:checked {
                    & + .custom-checkbox {
                        &__label {
                            color: $white;
                            background-color: $deepskyblue;
                            box-shadow: 0 2px $deepskyblue-dark inset;

                            &:before {
                                background-color: $deepskyblue;
                                border-color: $white;
                            }

                            &:after {
                                color: $white;
                            }
                        }
                    }
                }

                &:focus {
                    & + .custom-checkbox {
                        &__label {
                            box-shadow: 0 0 8px $deepskyblue;
                        }
                    }
                }
            }
        }
    }

    &__input {
        padding: 10px 25px 10px 20px;
        box-shadow: 0 2px $gray-light;
        border-radius: 5px;
        color: $gray;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
        @media screen and (max-width: $large-screen-width) {
            width: 100%;
        }
    }
}

.custom-radio {
    &__input {
        vertical-align: top;
        width: 15px;
        height: 15px;
        margin: 0 3px 0 0;
        & + .custom-radio__label {
            display: inline-block;
            width: 100%;
            padding: 11px 30px 11px 55px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0 2px $gray-light;
            cursor: pointer;
        }

        &:checked {
            & + .custom-radio__label {
                color: $white;
                background-color: $deepskyblue;
                box-shadow: 0 2px $deepskyblue-dark inset;

                &:before {
                    background-color: $deepskyblue;
                    box-shadow: 0 0 2px 2px $white;
                }

                &:after {
                    opacity: 1;
                    background-color: $white;
                }
            }
        }

        &:not(checked) {
            position: absolute;
            opacity: 0;

            & + .custom-radio__label {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: 20px;
                    width: 18px;
                    height: 18px;
                    box-shadow: inset 0 1px 1px $gray-light;
                    border-radius: 50%;
                    background-color: $white;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: 25px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $white;
                    box-shadow: inset 0 1px 1px $white;
                    opacity: 0;
                    transition: all .2s;
                }
            }
        }

        &:focus {
            & + .custom-radio__label {
                box-shadow: 0 0 8px $deepskyblue;
            }
        }
    }

    &__label {
        color: $gray-lighter;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
    }

    &--margin {
        margin-right: 5px;
    }

    &--width {
        width: 100%;
    }
}

.custom-select {
    position: relative;
    display: inline-block;
    // margin: 0 10px;
    @media screen and (max-width: $medium-screen-width) {
        width: 97%;
    }

    &--margin-screen-m-top {
        @media screen and (max-width: $medium-screen-width) {
            margin-top: 5px;
        }
    }

    &__element {
        width: 100%;
        padding: 10px 50px 10px 20px;
        box-shadow: 0 2px $gray-light;
        border-radius: 5px;
        color: $gray-lighter;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        option {
            color: $gray-lighter;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.4;
        }
    }

    &:after {
        content: "\0349";
        position: absolute;
        right: 10px;
        top: 10px;
        color: $deepskyblue;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        transform: rotate(135deg);
        pointer-events: none;
    }

    &--width-100 {
        width: 100%;
    }
}

.custom-checkbox {
    margin-bottom: 5px;
    @media screen and (max-width: $medium-screen-width) {
        margin-top: 15px;
    }

    &__input {
        vertical-align: top;
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
        &:not(checked) {
            position: absolute;
            opacity: 0;

            & + .custom-checkbox__label {
                position: relative;
                padding: 0 0 0 30px;

                &:before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: $white;
                    border: 2px solid $gray-light;
                }

                &:after {
                    content: '';
                }
            }
        }

        &:checked {
            & + .custom-checkbox__label {
                &:before {
                    background: $white;
                }

                &:after {
                    content: '\031A';
                    position: absolute;
                    top: 5px;
                    left: -5px;
                    width: 20px;
                    height: 20px;
                    color: $deepskyblue;
                    font-size: 29px;
                    transform: rotate(145deg);
                    @media screen and (max-width: $small-screen-width) {
                        top: 7px;
                        left: -4px;
                    }
                }
            }
        }

        &:focus {
            & + .custom-checkbox__label {
                &:before {
                    box-shadow: inset 0 1px 7px $gray-light;
                }
            }
        }
    }

    &__label {
        color: $gray;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
        cursor: pointer;
        @media screen and (max-width: $medium-screen-width) {
            line-height: 1.6;
        }
    }
}
