<form action="url" method="GET" id="form-filter" class="form-filter" name="formFilter">
    <section class="form-filter__section-intro">
        <span for="form-filter-price">We've found you <span>32</span> results based on a starting balance of</span>
        <div class="input-badge input-badge--money">
            <my-input></my-input>
        </div><!--
        --><span>.</span>
        <ul class="error-msgs" ng-messages="formFilter.priceField.$error" ng-show="formFilter.priceField.$dirty">
            <li ng-message="minLength" class="error-msgs__item">Your price's length has to be more or equal to 0</li>
            <li ng-message="maxLength" class="error-msgs__item">Your price's length has to be less or equal to 9</li>
            <li ng-message="patternCheck" class="error-msgs__item">Please, write down the price</li>
            <li ng-message="intervalCheck" class="error-msgs__item">Please, write down the price from 20 to 70000</li>
        </ul>
    </section>
    <!-- <section class="form-filter__section-intro">
        <span class="filter-text">We've found you <span>32</span> cards. You have selected</span>
        <div class="custom-select custom-select--margin-screen-m-top">
            <select id="form-filter-account-type-two" class="custom-select__element" required>
                <option value="" selected hidden disabled>--Balance transfer cards--</option>
                <option value="select1">Select type 2</option>
                <option value="select2">Select type 3</option>
            </select>
        </div>
    </section> -->
    <section class="form-filter__section-text">
        <p>You can also <a href="#" class="link">go back</a> and amend your personal details</p>
    </section>
    <section class="form-filter__section-order">
        <h2 class="filter-title">Order results by:</h2>
        <div class="custom-select">
            <select class="custom-select__element" required>
                <option value="" disabled hidden selected>Balance transfer</option>
                <option value="1">Select type 2</option>
                <option value="2">Select type 3</option>
            </select>
        </div>
    </section>
    <button type="submit" name="button">submit</button>
</form>
