$screen-sm: 480px;
$screen-md: 720px;
$black: #000;
$white: #fff;
$blue: #00AEEF;
$grey: #d0d0d0;
$grey-darker: #566266;
$grey-darkest: #2B3133;
$green: #3ea800;
$ice: #f2f8fa;
$purple: #562873;
$purple-light: #f9f7fb;
$red: #ef383f;
