<form action="" class="search">
    <section class="search__section">
        <span class="search__heading">We've found 52 cards. You have selected</span>
        <div class="search__dropdown search__dropdown--big">
            <div class="dropdown">
                <select class="dropdown__select dropdown__select--big" name="" id="" required>
                    <option class="dropdown__option" value="" selected disabled hidden>Balance transfer cards</option>
                    <option class="dropdown__option" value="1">1</option>
                    <option class="dropdown__option" value="2">2</option>
                </select>
            </div>
        </div>
    </section>
    <section class="search__section search__section--border-bot">
        <span class="search__back-text">You can also <a class="search__link" href="#">go back</a> to ammend your personal details</span>
    </section>
    <section class="search__section search__section--padding-top search__section--nowrap">
        <span class="search__results-heading">Order results by:</span>
        <div class="search__dropdown search__dropdown--small">
            <div class="dropdown">
                <select class="dropdown__select" name="" id="" required>
                    <option class="dropdown__option" value="" selected disabled hidden>Interest rate (AER)</option>
                    <option class="dropdown__option" value="1">1</option>
                    <option class="dropdown__option" value="2">2</option>
                </select>
            </div>
        </div>
    </section>
</form>