.extend-one, .form-filter-intro, .form-filter-input {
  color: #566266;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.4; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

body {
  background-color: #f2f8fa; }

.wrap {
  width: 980px;
  margin: auto; }

.form-filter {
  margin: 30px 10px 0 10px; }

.form-filter-intro {
  margin-bottom: 10px; }

.form-filter-field {
  background-color: #fff;
  border: none;
  border-radius: 5px; }

.form-filter-input {
  width: 144px;
  margin: 0 10px;
  padding: 6px 15px 6px 25px;
  box-shadow: 0 2px #c6cacc inset; }

.custom-select {
  position: relative;
  display: inline-block; }
  .custom-select:after {
    content: "\221F";
    position: absolute;
    right: 20px;
    top: 9px;
    color: #00adf2;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transform: rotate(-45deg);
    pointer-events: none; }

select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-filter-select {
  width: 100%;
  padding: 10px 50px 10px 20px;
  box-shadow: 0 2px #c6cacc; }

.form-filter-label {
  display: block;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4; }

.wrap-for-input-price {
  display: inline-block;
  position: relative; }
  .wrap-for-input-price .bank-note-denomination {
    position: absolute;
    top: 6px;
    left: 20px; }

.form-filter-label-checkbox {
  color: #566266;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4; }

.form-filter-input-checkbox {
  margin-left: 30px; }

.form-filter-account-item {
  display: inline-block; }

.form-filter-item {
  margin-bottom: 20px; }

.form-filter-legend {
  padding-bottom: 20px;
  color: #562873;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3; }

.form-filter-select {
  color: #949899;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4; }

.placeholder::-webkit-input-placeholder {
  color: #566266;
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }

.placeholder::-moz-placeholder {
  color: #566266;
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }

.placeholder:-moz-placeholder {
  color: #566266;
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }

.placeholder:-ms-input-placeholder {
  color: #566266;
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }
