@import 'form-variables.scss';

.input-text {
    font-family: $filter__main-ff;
    color: $grey-fc;
    font-size: $input-area-fs;
    font-weight: bold;
    line-height: 20px;
}

.shadow-props-outer {
    border: 0;
    box-shadow: 0 2px 1px 0 #949899;
    border-radius: 5px;
}

.shadow-props-inner {
    border: 0;
    box-shadow: inset 0 1px 1px 0 #949899;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $background;
}

.filter {
    display: flex;
    flex-flow: column nowrap;
    width: 980px;
    &__filter-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.intro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
    
    &__heading {
        margin-right: 10px;
    }
    &__input {
        position: relative;
        margin-right: 10px;
        width: 144px;
    }
    &__input:after {
        @extend .intro-text;
        content: '£';
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0, -50%);
    }
}

.intro-text {
    font-family: $filter__main-ff;
    color: $intro-fc;
    font-size: $intro-fs;
    line-height: $intro-lh;
}

.text-input {
    &__input {
        @extend .shadow-props-inner;
        @extend .intro-text;
        padding: 10px 15px;
        width: 100%;
        padding-left: 26px;
    }
}

.account {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    &__heading {
        font-family: $filter__main-ff;
        color: $filter__label-fc;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        flex: 1 100%;
    }
    &__checkbox {
        margin-bottom: 20px;
    }
}

.checkbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    &__input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: #00adef;
    }
    &__input--results {
        @extend .checkbox__input;
        position: absolute;
        
        opacity: 0;
    }
    &__input--results:not(checked) + &__label--results {
        position: relative;
    }
    &__input--results:not(checked) + &__label--results:before {
        box-sizing: border-box;  
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0, -50%);
        background: white;
        border: 1px solid $border-grey;
        width: 20px;
        height: 20px;
        content: '';
    }
    &__input--results:not(checked) + &__label--results:after {
        box-sizing: border-box;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 10px;
        left: 8px;
        opacity: 0;
        font-size: 30px;
        color: white;
        content: '\031A';
        transform: rotate(140deg);
    }
    &__input--results:checked + &__label--results {
        background: #00adef;
        color: white;
    }
    &__input--results:checked + &__label--results:after {
        opacity: 1;
    }
    &__input--results:checked + &__label--results:before {
        border: 2px solid white;
        background: #00adef;
    }
    &__label {
        font-family: $filter__main-ff;
        color: $checkbox-color;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        width: 100%;
        height: 100%;
    }
    &__label--results {
        @extend .input-text;
        @extend .shadow-props-outer;
        padding: 10px 15px;
        padding-left: 45px;
        width: 100%;
        height: 100%;
    }
}

.radio {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    &__radiobtn {
        position: absolute;
        opacity: 0;
    }

    &__radibtn:not(checked) + &__label {
        position: relative;
    }

    &__radiobtn:not(checked) + &__label:before {
        box-sizing: border-box;
        box-shadow: inset 0 1px 1px 0;  
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0, -50%);
        border-radius: 50%;
        background: white;
        width: 20px;
        height: 20px;
        content: '';
    }

    &__radiobtn:not(checked) + &__label:after {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translate(0, -50%);
        border: 3px solid #00adef;
        border-radius: 50%;
        background: white;
        width: 14px;
        height: 14px;
        opacity: 0;
        content: '';
    }

    &__radiobtn:checked + &__label {
        background: #00adef;
        color: white;
    }
    
    &__radiobtn:checked + &__label:after {
        opacity: 1;
    }

    &__label {
        @extend .input-text;
        @extend .shadow-props-outer;
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        padding-left: 45px;
    }
}

.dropdown {
    width: 100%;
    position: relative;
    &__select {
        @extend .input-text;
        @extend .shadow-props-outer;
        padding: 10px 50px 10px 20px;
        width: 100%;
        background-color: $bgbutton;
        -webkit-appearance: button;
    }
    &::after , &::before {
        position: absolute;
        pointer-events: none;
        content: '';
    }
    &:after {
        width: 50px;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 0 5px 5px 0;

    }
    &:before {
        @extend .input-text;
        content: '\2304';
        height: 75%;
        width: 10px;
        color: #00adef;
        top: 50%;
        right: 20px;
        transform: translate(0,-50%);
    }
}

.password {
    width: 100%;
    &__input {
        @extend .input-text;
        border: 0;
        box-shadow: inset 0 1px 1px 0 #949899;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: $bgbutton;
        width: 100%;
    }
}

.results {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    &__heading {
        flex: 1 100%;
        padding-bottom: 20px;
    }
}

.input-area {
    display: flex;
    margin-right: 30px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    &__title {
        padding-bottom: 10px;
    }
    &__inputs {
        display: flex;
        flex-flow: row wrap;
    }
    &__checkbox {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 200px;
        border-radius: 5px;
        background-color: $bgbutton;
    }
    &__radio {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-color: $bgbutton;
        border-radius: 5px;
        width: 95px;
    }
    &__radio:nth-child(1) {
        margin-right: 10px;
    }
    &__dropdown {
        display: flex;
        align-items: center;
        width: 200px;
    }
    &__password {
        display: flex;
        align-items: center;
        width: 200px;
    }
}

.title {
    width: 100%;
    color: #2B3133;
    font-family: $filter__main-ff;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}

.order {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    &__heading {
        margin-right: 10px;
    }
}

.heading {
    &__text {
        font-family: $filter__main-ff;
        font-size: $filter__section-title-fs;
        color: $filter__section-title-fc;
        line-height: $filter__section-title-lh;
    }
}

.submit-btn {
    display: none;
}

@media screen and (max-width: 480px) {
    .input-area {
        width: 100%;
        margin-right: 10px;
        &__inputs,
        &__dropdown,
        &__password,
        &__checkbox {
            width: 100%;
        }
        &__radio {
            width: 48.5%;
        }
        &__checkbox {
            margin-right: 0px;
        }
        &__checkbox:nth-child(1) {
            margin-right: 0px;
            margin-bottom: 5px;
        }
    }
    .results {
        &__check-area,
        &__radio-area,
        &__dropdown,
        &__password {
            width: 100%;
        }
    }
    .order {
        flex-wrap: nowrap;
        width: 100%;
        &__dropdown {
            width: 100%;
        }
    }
    .account, .account {
        width: 100%;
        &__dropdown {
            width: 100%;
        }
    }
}

@media screen and (min-width: 480px) {
    .input-area {
        margin-right: 10px;
        &__checkbox:nth-child(1) {
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 720px) {
    .input-area {
        margin-right: 30px;
        &__checkbox:nth-child(1) {
            margin-right: 10px;
        }
    }
}