$filter__main-ff: 'Open Sans', 'sans-serif';

$filter__intro-fc: #566266;
$filter__intro-fs: 20px;

$filter__label-fc: #2B3133;
$filter__label-fs: 14px;

$filter__dropdown-fc: #949899;
$filter__dropdown-fs: 14px;

