$white: #fff;
$azure: #f2f8fa;
$gray-dark: #2b3133;
$gray: #566266;
$gray-light: #c6cacc;
$gray-lighter: #949899;
$green: #1c8429;
$deepskyblue: #00adf2;
$deepskyblue-dark: #0481b3;
$indigo: #562873;
$red: #c71b1b;

$small-screen-width: 490px;
$medium-screen-width: 720px;
$large-screen-width: 980px;
